@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~react-image-gallery/styles/css/image-gallery.css";


:root {
  --background: #ffffff;
  --foreground: #0c343c;
}

@font-face {
  font-family: 'Aileron';
  src: url('/fonts/aileron/Aileron-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('/fonts/aileron/Aileron-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('/fonts/aileron/Aileron-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('/fonts/aileron/Aileron-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('/fonts/aileron/Aileron-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}


.buttonWspPosition{
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 50;
}

.buttonWspDesign{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #25D366;
  color: #ffffff;
  font-weight: bold;
  padding: 1rem;
  border-radius: 9999px;
}

.buttonWspDesign:hover {
  background-color: #25D366;
  cursor: pointer;
}

.iconWhatsApp{
  color: #ffffff;
  font-size: 2.25rem;
}

.textWhatsApp{
  margin-left: 0.5rem;
  display: inline-block;
}

.transparent-bg {
  background-color: transparent;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0c343c;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Aileron', Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
